@font-face {
	font-family:'CryptoG10';font-display:swap;src:url('../fonts/BinancePlex-Light.woff2') format('woff2'),url('../fonts/BinancePlex-Light.otf') format('opentype');font-weight:200
}
@font-face {
	font-family:'CryptoG10';font-display:swap;src:url('../fonts/BinancePlex-Light.woff2') format('woff2'),url('../fonts/BinancePlex-Light.otf') format('opentype');font-weight:300
}
@font-face {
	font-family:'CryptoG10';font-display:swap;src:url('../fonts/BinancePlex-Regular.woff2') format('woff2'),url('../fonts/BinancePlex-Regular.otf') format('opentype');font-weight:400
}
@font-face {
	font-family:'CryptoG10';font-display:swap;src:url('../fonts/BinancePlex-Medium.woff2') format('woff2'),url('../fonts/BinancePlex-Medium.otf') format('opentype');font-weight:500
}
@font-face {
	font-family:'CryptoG10';font-display:swap;src:url('../fonts/BinancePlex-SemiBold.woff2') format('woff2'),url('../fonts/BinancePlex-SemiBold.otf') format('opentype');font-weight:600
}
@font-face {
	font-family:'CryptoG10';font-display:swap;src:url('../fonts/BinancePlex-SemiBold.woff2') format('woff2'),url('../fonts/BinancePlex-SemiBold.otf') format('opentype');font-weight:700
}
@font-face {
	font-family:'CryptoG10';font-display:swap;src:url('../fonts/BinancePlex-SemiBold.woff2') format('woff2'),url('../fonts/BinancePlex-SemiBold.otf') format('opentype');font-weight:800
}